@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:700,500,600,400|Epilogue:700|Lato:700");

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:500,400,600,700|Epilogue:700|Lato:700");
* {
  box-sizing: border-box;
}
.border-class-1 {
  border: 2px solid rgba(0, 0, 0, 1);
}
.dove-gray-border-1px {
  border: 1px solid var(--dove-gray);
}
.epilogue-bold-white-22px {
  color: white;
  font-family: "Epilogue", Helvetica, Arial, serif;
  font-size: 22px;
}
.green-blue-border-2px {
  border: 2px solid var(--green-blue);
}
.raleway-bold-black-14px {
  color: black;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.raleway-bold-black-18px {
  color: black;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.raleway-bold-black-22px {
  color: black;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.raleway-normal-black-14px {
  color: black;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.raleway-normal-black-14px-2 {
  color: black;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 14px;
}
.raleway-semi-bold-black-18px {
  color: black;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.x01b-delegation-agreement {
  align-items: center;
  background-color: white;
  border-radius: 38px;
  display: flex;
  flex-direction: column;
  height: 310px;
  overflow: hidden;
  padding: 16px 0;
  width: 948px;
  margin-left: 10em;
}
.x01b-delegation-agreement .amount {
  letter-spacing: 0px;
  line-height: 18px;
  min-height: 23px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  margin-left: 1em;
}
.x01b-delegation-agreement .auto-flex {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 111px;
  width: 172px;
  margin-left: 10em;
}
.x01b-delegation-agreement .auto-flex1 {
  align-items: flex-start;
  display: flex;
  height: 18px;
  margin-top: 3px;
  min-width: 287px;
}
.x01b-delegation-agreement .auto-flex2 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 72px;
  min-height: 122px;
  width: 287px;
}
.x01b-delegation-agreement .auto-flex3 {
  align-items: flex-start;
  display: flex;
  height: 122px;
  min-width: 531px;
}
.x01b-delegation-agreement .auto-flex4 {
  align-items: flex-end;
  display: flex;
  margin-top: 7px;
  min-width: 162px;
}
.x01b-delegation-agreement .auto-flex5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 94px;
  margin-top: 0.14px;
  min-height: 100px;
  width: 239px;
}
.x01b-delegation-agreement .auto-flex6 {
  align-items: flex-start;
  display: flex;
  margin-right: 10px;
  margin-top: 10px;
  min-width: 864px;
}
.x01b-delegation-agreement .bg {
  border-radius: 9px;
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 170px;
}
.x01b-delegation-agreement .bg-1 {
  align-self: flex-start;
  height: 1px;
  margin-left: 16px;
  margin-top: -1px;
  width: 618px;
}
.x01b-delegation-agreement .by-delegating-the-tr {
  height: 59px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 864px;
}
.x01b-delegation-agreement .dai {
  letter-spacing: 0px;
  line-height: 14px;
  margin-bottom: 0.07px;
  margin-left: 16px;
  min-height: 18px;
  min-width: 26px;
  text-align: center;
  white-space: nowrap;
}
.x01b-delegation-agreement .delegate-support {
  letter-spacing: 1.08px;
  line-height: 18px;
  min-height: 24px;
  min-width: 232px;
  text-align: center;
  white-space: nowrap;
}
.x01b-delegation-agreement .group-1324 {
  align-items: center;
  display: flex;
  margin-top: 6px;
  min-width: 285px;
}
.x01b-delegation-agreement .group-1330 {
  align-items: flex-end;
  display: flex;
  margin-top: 1em;
  margin-left: 1em;
  min-width: 172px;
}
.radio {
  height: 22px;
  margin-left: 28px;
  width: 22px;
}
.x01b-delegation-agreement .number {
  left: 115px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}
.x01b-delegation-agreement .number-1 {
  letter-spacing: 0px;
  line-height: 14px;
  min-height: 18px;
  min-width: 10px;
  text-align: center;
  white-space: nowrap;
  margin-top: 0.5em;
  margin-right: 0.5em;
}
.x01b-delegation-agreement .number-2 {
  letter-spacing: 0px;
  line-height: 14px;
  margin-left: 1em;
  min-height: 18px;
  min-width: 18px;
  text-align: center;
  white-space: nowrap;
  margin-top: 0.5em;

}
.x01b-delegation-agreement .overlap-group {
  height: 59px;
  margin-right: 10px;
  margin-top: 12px;
  position: relative;
  width: 864px;
  margin-left: 10em;
}
.x01b-delegation-agreement .overlap-group1 {
  border-radius:10px;
  height: 42px;
  margin-top: 10px;
  position: relative;
  width: 170px;
  margin-left: 1em;
}
.x01b-delegation-agreement .overlap-group2 {
  align-items: flex-end;
  background-color: black;
  border-radius: 21px;
  display: flex;
  height: 59px;
  justify-content: flex-end;
  margin-top: 4px;
  min-width: 948px;
  padding: 14px 351px;
}
.x01b-delegation-agreement .path-1491 {
  height: 0px;
  left: 307px;
  position: absolute;
  top: 46px;
  width: 422px;
}
.x01b-delegation-agreement .price {
  letter-spacing: 0px;
  line-height: 14px;
  margin-bottom: 0px;
  margin-left: 41px;
  min-height: 18px;
  min-width: 68px;
  text-align: center;
  white-space: nowrap;
}
.x01b-delegation-agreement .rectangle-621 {
  background-color: black;
  border-radius: 10px;
  height: 25px;
  width: 127px;
}
.x01b-delegation-agreement .rectangle-621-1 {
  background-color: black;
  border-radius: 10px;
  height: 23px;
  width: 53px;
}
.x01b-delegation-agreement .repayment-structure {
  letter-spacing: 0px;
  line-height: 18px;
  min-height: 23px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
}
.x01b-delegation-agreement .span {
  color: rgba(0, 0, 0, 1);
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 14px;
}
.x01b-delegation-agreement .span0 {
  color: rgba(255, 255, 255, 1);
  font-family: "Epilogue", Helvetica, Arial, serif;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
.x01b-delegation-agreement .span1-DQxoii {
  color: rgba(0, 0, 0, 1);
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 14px;
  text-decoration: underline;
}
.x01b-delegation-agreement .span1-movYKW {
  color: rgba(255, 255, 255, 1);
  font-family: "Epilogue", Helvetica, Arial, serif;
  font-size: 22px;
  font-weight: 700;
}
.x01b-delegation-agreement .text-1 {
  height: 38px;
  letter-spacing: 0px;
  line-height: 18px;
  margin-top: 8px;
  min-height: 38px;
  text-align: left;
  width: 287px;
}
.x01b-delegation-agreement .text-2 {
  height: 38px;
  letter-spacing: 0px;
  line-height: 18px;
  margin-top: 8px;
  min-height: 38px;
  text-align: left;
  width: 239px;
}
.x01b-delegation-agreement .text-3 {
  letter-spacing: 0px;
  line-height: 14px;
  margin-left: 2px;
  margin-top: 1.75px;
  min-height: 18px;
  min-width: 30px;
  text-align: center;
  white-space: nowrap;
}
.x01b-delegation-agreement .title {
  letter-spacing: 0.15px;
  line-height: 22px;
  margin-right: 12px;
  min-height: 28px;
  min-width: 298px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  margin-left: 7em;
}
.x01b-delegation-agreement .usdc {
  letter-spacing: 0px;
  line-height: 14px;
  margin-bottom: 0.07px;
  margin-left: 16px;
  min-height: 18px;
  min-width: 40px;
  text-align: center;
  white-space: nowrap;
}
.x01b-delegation-agreement .your-return {
  letter-spacing: 0px;
  line-height: 18px;
  min-height: 23px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
}




* {
  box-sizing: border-box;
}
.border-class-1 {
  border: 2px solid rgba(0, 0, 0, 1);
}
.dove-gray-border-1px {
  border: 1px solid var(--dove-gray);
  align-items: baseline;
}
.green-blue-border-2px {
  border: 2px solid var(--green-blue);
}
.raleway-bold-alto-22px {
  color: var(--alto);
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.raleway-bold-black-14px {
  color: black;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.raleway-bold-black-20px {
  color: black;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.raleway-bold-black-24px {
  color: black;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.raleway-bold-black-30px {
  color: black;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.raleway-medium-black-20px {
  color: black;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.raleway-normal-alto-13px {
  color: var(--alto);
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.raleway-normal-alto-18px {
  color: var(--alto);
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.raleway-normal-black-14px {
  color: black;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.raleway-semi-bold-black-18px {
  color: black;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.x01b-delegation-agreement {
  background-color: var(--alabaster);
  position: relative;
  width: 1366px;
}
.add-funds {
  height: 31px;
  letter-spacing: 1.18px;
  line-height: 18px;
  text-align: center;
  width: 146px;
}
.amount {
  letter-spacing: 0px;
  line-height: 18px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
}
.articles {
  letter-spacing: 0px;
  line-height: 24px;
  margin-bottom: -7px;
  min-height: 17px;
  min-width: 107px;
  text-align: left;
  white-space: nowrap;
}
.articles-1 {
  letter-spacing: 0px;
  line-height: 24px;
  margin-bottom: -7px;
  min-height: 17px;
  min-width: 107px;
  text-align: left;
  white-space: nowrap;
}
.auto-flex {
  align-items: center;
  align-self: flex-start;
  display: flex;
  min-width: 240px;
}
.auto-flex-1 {
  align-items: flex-start;
  display: flex;
  height: 13px;
  margin-left: 4.35px;
  min-width: 24px;
}
.auto-flex1 {
  align-items: center;
  display: flex;
  min-width: 218px;
}
.auto-flex2 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  min-width: 239px;
}
.bg {
  height: 1px;
  width: 618px;
}
.bg-1 {
  background-color: black;
  border-radius: 21px;
  height: 59px;
  width: 948px;
}
.bg-2 {
  border-radius: 9px;
  height: 42px;
  width: 170px;
}
.by-delegating-the-tr {
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 14px;
  height: 59px;
  letter-spacing: 0px;
  line-height: 18px;
  text-align: left;
  width: 864px;
  margin-left: 1.5em;
}
.dai {
  letter-spacing: 0px;
  line-height: 14px;
  margin-bottom: 0.07px;
  min-height: 18px;
  min-width: 26px;
  text-align: center;
  white-space: nowrap;
}
.dashboard {
  align-self: flex-end;
  height: 26px;
  letter-spacing: 0px;
  line-height: 20px;
  min-height: 26px;
  text-align: center;
  width: 146px;
}
.delegate-support {
  color: white;
  font-family: "Epilogue", Helvetica, Arial, serif;
  font-size: 22px;
  letter-spacing: 1.08px;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
}
.description {
  height: 99px;
  letter-spacing: 0px;
  line-height: 24px;
  min-height: 99px;
  text-align: left;
  width: 235px;
}
.description-1 {
  height: 77px;
  letter-spacing: 0px;
  line-height: 24px;
  min-height: 77px;
  text-align: left;
  width: 235px;
}
.group-1324 {
  align-items: flex-start;
  display: flex;
  height: 25px;
  min-width: 285px;
}
.black-card {
  align-items: center;
  background-color: black;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  min-height: 286px;
  padding: 14px 23px;
  width: 75%;
}
.group-1326 {
  align-items: center;
  background-color: black;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  min-height: 286px;
  padding: 14px 23px;
  width: 301px;
}
.group-1327 {
  align-items: center;
  background-color: black;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  min-height: 286px;
  padding: 14px 23px;
  width: 301px;
}
.group-1330 {
  align-items: flex-end;
  display: flex;
  height: 22px;
  min-width: 172px;
}
.group-21 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 23px;
  padding: 0px 0;
  width: 19px;
}
.group-22 {
  align-items: flex-start;
  background-color: white;
  border-radius: 28px;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  min-width: 218px;
  padding: 11.8px 15px;
}
.group-23 {
  align-items: center;
  background-color: white;
  border-radius: 28px;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  min-width: 218px;
  padding: 13px 15px;
}
.group-24 {
  align-items: flex-start;
  background-color: white;
  border-radius: 28px;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  min-width: 218px;
  padding: 11.5px 15px;
}
.group-25 {
  align-items: flex-start;
  background-color: white;
  border-radius: 28px;
  display: flex;
  height: 56px;
  min-width: 218px;
  padding: 14px 16px;
}
.group-26 {
  align-items: flex-start;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  min-width: 31px;
}
.icon-ionic--button-on {
  height: 22px;
  width: 22px;
}
.icon-ionic--button-on-1 {
  height: 22px;
  width: 22px;
}
.image-7 {
  height: 89px;
  width: 89px;
}
.line-26 {
  height: 1px;
  width: 227px;
}
.line-26-1 {
  height: 1px;
  width: 227px;
}
.line-35 {
  height: 1px;
  width: 203px;
}
.line-36 {
  height: 1px;
  width: 203px;
}
.log-off {
  height: 32px;
  letter-spacing: 1.18px;
  line-height: 18px;
  text-align: center;
  width: 139px;
}
.michael-white {
  color: white;
  font-family: "Lato", Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 1.01px;
  min-height: 24px;
  min-width: 42px;
  text-align: center;
  white-space: nowrap;
}
.notifications {
  align-self: flex-end;
  height: 27px;
  letter-spacing: 0.98px;
  line-height: 18px;
  min-height: 27px;
  text-align: center;
  width: 146px;
}
.number {
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
}
.number-1 {
  letter-spacing: 0px;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
}
.number-2 {
  letter-spacing: 0px;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
}
.overlap-group {
  height: 768px;
  width: 1366px;
}
.overlap-group1 {
  height: 767px;
  width: 305px;
}
.overlap-group2 {
  border-radius: 10px;
  height: 25px;
  position: relative;
  width: 285px;
}
.overlap-group2-1 {
  height: 30px;
  margin-top: -0px;
  position: relative;
  width: 31px;
}
.overlap-group2-2 {
  height: 11px;
  position: relative;
  width: 34px;
}
.path-1032 {
  height: 21px;
  width: 19px;
}
.path-1033 {
  height: 2px;
  margin-right: 0.03px;
  width: 5px;
}
.path-1077 {
  height: 10px;
  width: 14px;
}
.path-1078 {
  height: 30px;
  width: 29px;
}
.path-1491 {
  height: 0px;
  width: 422px;
}
.path-1496 {
  height: 12px;
  width: 12px;
}
.path-1497 {
  height: 10px;
  width: 23px;
}
.path-1498 {
  align-self: flex-end;
  height: 10px;
  width: 10px;
}
.path-1499 {
  height: 9px;
  width: 14px;
}
.path-1501 {
  height: 29px;
  width: 29px;
}
.path-1502 {
  height: 14px;
  width: 6px;
}
.path-1503 {
  height: 20px;
  width: 6px;
}
.path-1504 {
  height: 28px;
  width: 6px;
}
.path-1505 {
  height: 32px;
  width: 6px;
}
.path-1506 {
  height: 32px;
  width: 32px;
}
.people {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 0.12px;
  min-height: 25px;
  padding: 0 0px;
  width: 34px;
}
.photo {
  border-radius: 38.5px;
  height: 77px;
  width: 77px;
}
.price {
  letter-spacing: 0px;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
}
.progress-bar-2 {
  align-items: flex-start;
  background-color: var(--alice-blue);
  border-radius: 10px;
  display: flex;
  height: 23px;
  min-width: 237px;
}
.progress-bar-2-1 {
  align-items: flex-start;
  background-color: var(--alice-blue);
  border-radius: 10px;
  display: flex;
  height: 25px;
  min-width: 285px;
}

.repayment-percent-bar {
  align-items: flex-start;
  display: flex;
  height: 1em;
  width: 18em;
  height: 1em;
}

.repayment-percent-number {
  display: flex;
  margin-top: 1em;
  margin-left: 5em;
}


.rectangle-1609 {
  background-color: white;
  border-radius: 35px;
  box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.349);
  height: 70px;
  width: 223px;
}
.rectangle-1614 {
  background-color: white;
  border-radius: 35px;
  box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.349);
  height: 70px;
  width: 223px;
}
.rectangle-1751 {
  background-color: white;
  border-radius: 38px;
  height: 310px;
  width: 948px;
}
.rectangle-19 {
  -webkit-backdrop-filter: blur(30px) brightness(115%);
  backdrop-filter: blur(30px) brightness(115%);
  background-color: var(--gallery);
  box-shadow: 5px 3px 6px rgba(47, 46, 179, 0.361);
  height: 768px;
  width: 1061px;
}
.rectangle-621 {
  background-color: black;
  border-radius: 10px;
  height: 23px;
  margin-left: -2px;
  margin-top: -2px;
  width: 53px;
}
.rectangle-621-1 {
  background-color: black;
  border-radius: 10px;
  height: 25px;
  margin-left: -2px;
  margin-top: -2px;
  width: 127px;
}
.repayment-structure {
  letter-spacing: 0px;
  line-height: 18px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
}
.settings {
  align-self: flex-end;
  height: 27px;
  letter-spacing: 0.98px;
  line-height: 18px;
  margin-bottom: 1.16px;
  min-height: 27px;
  text-align: center;
  width: 146px;
}
.side-menu {
  align-items: flex-start;
  background-color: black;
  display: flex;
  height: 767px;
  justify-content: flex-end;
  min-width: 305px;
  padding: 26px 113.4px;
}
.span {
  color: rgba(0, 0, 0, 1);
  font-family: "Raleway", Helvetica, Arial, serif;
}
.span0 {
  color: rgba(255, 255, 255, 1);
  font-family: "Epilogue", Helvetica, Arial, serif;
  font-weight: 700;
  text-decoration: underline;
}
.span1-DQxoii {
  color: rgba(0, 0, 0, 1);
  font-family: "Raleway", Helvetica, Arial, serif;
  text-decoration: underline;
}
.span1-wdFYhX {
  color: rgba(255, 255, 255, 1);
  font-family: "Epilogue", Helvetica, Arial, serif;
  font-weight: 700;
}
.stats-chart-sharp {
  align-items: flex-end;
  display: flex;
  min-width: 30px;
}
.text-1 {
  height: 34px;
  letter-spacing: 0.19px;
  line-height: 19px;
  text-align: center;
  width: 935px;
}
.text-2 {
  letter-spacing: 0px;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
}
.text-3 {
  height: 38px;
  letter-spacing: 0px;
  line-height: 18px;
  text-align: left;
  width: 287px;
}
.text-4 {
  height: 38px;
  letter-spacing: 0px;
  line-height: 18px;
  text-align: left;
  width: 239px;
}
.text-5 {
  letter-spacing: 0px;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
}
.title {
  letter-spacing: 0.15px;
  line-height: 22px;
  min-height: 54px;
  min-width: 144px;
  text-align: left;
  white-space: nowrap;
}
.title-1 {
  letter-spacing: 0.15px;
  line-height: 22px;
  min-height: 54px;
  min-width: 122px;
  text-align: left;
  white-space: nowrap;
}
.title-2 {
  letter-spacing: 0.15px;
  line-height: 22px;
  min-height: 54px;
  min-width: 143px;
  text-align: left;
  white-space: nowrap;
}
.title-3 {
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.15px;
  line-height: 22px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
}
.top {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 110px;
  width: 77px;
}
.usdc {
  letter-spacing: 0px;
  line-height: 14px;
  margin-bottom: 0.07px;
  min-height: 18px;
  min-width: 40px;
  text-align: center;
  white-space: nowrap;
}
.your-return {
  letter-spacing: 0px;
  line-height: 18px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
}
.your-stats {
  align-self: center;
  height: 27px;
  letter-spacing: 0.98px;
  line-height: 18px;
  min-height: 27px;
  text-align: center;
  width: 146px;
}


.submit-button {
  display: flex;
  margin-top: 10em;
  margin-right: 10em;
  background-color: chartreuse;
}

div#root{
  height: 100%;
}

:root {
  --alabaster: rgba(250, 251, 251, 1);
  --alice-blue: rgba(241, 249, 255, 1);
  --alto: rgba(219, 219, 219, 1);
  --dove-gray: rgba(112, 112, 112, 1);
  --gallery: rgba(237, 237, 237, 0.85);
  --green-blue: rgba(20, 110, 170, 1);
}
