@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:700,500,600,400|Epilogue:700|Lato:700");

* {
  box-sizing: border-box;
}

/******** CARD ********/
.raleway {
  font-family: "Raleway", Helvetica, Arial, serif;
  font-style: normal;
}
.raleway-normal-alto-13px {
  color: var(--alto);
  font-size: 13px;
  font-weight: 400;
}
.raleway-bold-black-14px {
  color: black;
  font-size: 14px;
  font-weight: 700;
}
.raleway-semi-bold-black-18px {
  color: black;
  font-size: 18px;
  font-weight: 600;
}
.raleway-bold-alto-22px {
  color: var(--alto);
  font-size: 22px;
  font-weight: 700;
}
.raleway-normal-alto-18px {
  color: var(--alto);
  font-size: 16px;
  font-weight: 300;
}
.raleway-bold-black-22px {
  color: black;
  font-size: 22px;
  font-weight: 700;
}
.raleway-normal-black-14px {
  color: black;
  font-size: 14px;
  font-weight: 400;
}
.raleway-normal-black-14px-2 {
  color: black;
  font-size: 14px;
}
.articles-white-card {
  letter-spacing: 0px;
  line-height: 24px;
  margin-bottom: -7px;
  min-height: 17px;
  min-width: 107px;
  text-align: left;
  white-space: nowrap;
  color:black;
}
.description-white-card {
  letter-spacing: 0px;
  line-height: 24px;
  text-align: left;
  flex: 1;
  width: 100%;
  padding: 20px;
  color:black;
  min-height: 15vw;
}
.white-card {
  align-items: center;
  background-color: white;
  color: #1b1c1d;  
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  min-height: 286px;
  padding: 16px;
}
.title-white-card {
  letter-spacing: 0.15px;
  line-height: 22px;
  min-height: 54px;
  min-width: 144px;
  text-align: left;
  white-space: nowrap;
  color:black;
}
.black-card {
  align-items: center;
  background-color: black;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  min-height: 286px;
  padding: 16px;
}
.top-card {
  width: 100%;
  display: flex;
  align-items: center;
}
.header-top {
  text-align: center;
  width: 100%;
}
.top-header {
  text-align: center;
  width: 100%;
}
.image-7 {
  height: 89px;
  width: 89px;
}
.title {
  letter-spacing: 0.15px;
  line-height: 22px;
  text-decoration: underline;
  min-height: 54px;
  min-width: 144px;
  text-align: left;
  white-space: nowrap;
}
.description {
  letter-spacing: 0px;
  line-height: 24px;
  text-align: left;
  flex: 1;
  width: 100%;
  padding: 20px;
  min-height: 15vw;
}
.articles {
  letter-spacing: 0px;
  line-height: 24px;
  margin-bottom: -7px;
  min-height: 17px;
  min-width: 107px;
  text-align: left;
  white-space: nowrap;
}
.line-26 {
  height: 1px;
}

/******** CARD ********/




/******** FORM ********/

.dove-gray-border-1px {
  border: 1px solid var(--dove-gray);
  align-items: baseline;
}
.delegation-form {
  display: flex;
  justify-content: center;
  align-items: center !important;
  flex-direction: column;
  background-color: rgba(255,255,255,255);
  border-radius: 38px;
  padding: 16px;
}
.delegation-form .overlap-group {
  position: relative;
}
.delegation-form .linebreak {
  height: 0px;
  left: 307px;
  position: absolute;
  top: 46px;
}
.treasury-delegate {
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 18px;
  text-align: left;
}
.delegation-form .span1-delegate {
  color: rgba(0, 0, 0, 1);
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 14px;
}
.delegation-form .span2-delegate {
  color: rgba(0, 0, 0, 1);
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 14px;
  text-decoration: underline;
}
.auto-flex6 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
.auto-flex {
  flex: 1;
}
.delegation-form .amount-delegate {
  letter-spacing: 0px;
  line-height: 18px;
  min-height: 23px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  margin-left: 1em;
}
.delegation-form .overlap-group1-delegate {
  border-radius: 10px;
  height: 42px;
  margin-top: 10px;
  position: relative;
  width: 170px;
  margin-left: 1em;
}
.delegation-form .group-1330 {
  align-items: flex-end;
  display: flex;
  margin-top: 1em;
  margin-left: 1em;
  min-width: 172px;
  height: 22px;
}
.auto-flex1 {
  display: flex;
  align-items: center;
}
.delegation-form .repayment-structure {
  letter-spacing: 0px;
  line-height: 18px;
  min-height: 23px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
}
.delegation-form .text-1 {
  height: 38px;
  letter-spacing: 0px;
  line-height: 18px;
  margin-top: 8px;
  min-height: 38px;
  text-align: left;
  width: 287px;
}
.delegation-form .number-1 {
  letter-spacing: 0px;
  line-height: 14px;
  min-height: 18px;
  min-width: 10px;
  text-align: center;
  white-space: nowrap;
  margin-top: 0.5em;
  margin-right: 0.5em;
}
.repayment-percent-bar {
  align-items: flex-start;
  display: flex;
  height: 1em;
  height: 1em;
  flex: 1;
}
.delegation-form .number-2 {
  letter-spacing: 0px;
  line-height: 14px;
  margin-left: 1em;
  min-height: 18px;
  min-width: 18px;
  text-align: center;
  white-space: nowrap;
  margin-top: 0.5em;
}
.repayment-percent-number {
  display: flex;
  align-items: center;
  justify-content: center;
}
.delegation-form .your-return {
  letter-spacing: 0px;
  line-height: 18px;
  min-height: 23px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
}
.delegation-form .text-2 {
  height: 38px;
  letter-spacing: 0px;
  line-height: 18px;
  margin-top: 8px;
  min-height: 38px;
  text-align: left;
  width: 239px;
}
.delegation-form .rectangle-621-1 {
  background-color: black;
  border-radius: 10px;
  height: 23px;
  width: 53px;
  margin-left: -2px;
  margin-top: -2px;
}
.delegation-form .price-delegate {
  letter-spacing: 0px;
  line-height: 14px;
  margin-bottom: 0px;
  margin-left: 41px;
  min-height: 18px;
  min-width: 68px;
  text-align: center;
  white-space: nowrap;
}
.delegation-form .submit-button-container {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  width: 100%;
}
.delegation-form .submit-button {
  display: flex;
  letter-spacing: 0px;
  line-height: 20px;
  white-space: nowrap;
  font-weight: bold;
  padding: 0.5em;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #1b1c1d;
  border-radius: 13px;
  border: 2px solid #000000;
  cursor: pointer;
  color: white;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 19px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.submit-button:hover {
  background-color: white;
  color: #1b1c1d;
}
.submit-button:active {
  position: relative;
  top: 1px;
}
.message-container {
  display: flex;
  width: 100%;
  height: 7em;
  justify-content: center;
  align-items: center;
}
.success-font {
  color: rgb(118, 182, 75);
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

/******** FORM ********/

:root {
  --alabaster: rgba(250, 251, 251, 1);
  --alice-blue: rgba(241, 249, 255, 1);
  --alto: rgba(219, 219, 219, 1);
  --dove-gray: rgba(112, 112, 112, 1);
  --gallery: rgba(237, 237, 237, 0.85);
  --green-blue: rgba(20, 110, 170, 1);
}
:root {
  --dove-gray: rgba(112, 112, 112, 1);
  --green-blue: rgba(20, 110, 170, 1);
}