@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:500,600,400,700|Epilogue:700|Lato:700");
* {
  box-sizing: border-box;
}


.login-screen {
    border-radius: 21px;
    height: 309px;
    width: 505px;
}






.border-class-1 {
  border: 1px solid rgba(0, 0, 0, 1);
}
.raleway-medium-ebb-24px {
  color: var(--ebb);
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 24px;
}
.raleway-normal-white-26px {
  color: white;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 26px;
}
.raleway-semi-bold-black-40px {
  color: black;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
}
.x01-i-want-to {
  align-items: flex-start;
  background-color: white;
  display: flex;
  width: 100%;
  height: 100%;
}

.x01-i-want-to .fundmy-project {
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: -421px;
  min-height: 51px;
  min-width: 84px;
  text-align: center;
  white-space: nowrap;
}
.x01-i-want-to .i-want-to {
  letter-spacing: 0.38px;
  line-height: 40px;
  margin-left: 3px;
  margin-top: 35px;
  min-height: 49px;
  min-width: 167px;
  text-align: left;
  white-space: nowrap;
}
.x01-i-want-to .image-2 {
  height: 180px;
  margin-left: 5px;
  width: 183px;
}
.x01-i-want-to .overlap-group {
  align-items: flex-end;
  background-color: var(--black);
  display: flex;
  height: 900px;
  min-width: 452px;
  padding: 250px 44px;
}
.x01-i-want-to .overlap-group1 {
  align-items: center;
  display: flex;    
  flex-direction: column;
  min-height: 768px;
  padding: 192px 0;
  width: 100%;
}


.x01-i-want-to .button1 {
    width: 9em;
}
  
.x01-i-want-to .button2 {
    width: 9em;  
}



.x01-i-want-to .overlap-group2 {
  align-items: flex-end;

  display: flex;
  height: 85px;
  min-width: 180px;
  padding: 7.5px 0;
}
.x01-i-want-to .overlap-group3 {
  align-items: flex-end;

  display: flex;
  height: 85px;
  margin-left: 15px;
  min-width: 164px;
  padding: 7.5px 0;
}
.x01-i-want-to .quadratic-treasury {
  height: 385px;
  letter-spacing: 0px;
  line-height: 24px;
  min-height: 385px;
  text-align: center;
  width: 356px;
}
.x01-i-want-to .rectangle-1596 {
  background-color: var(--governor-bay);
  height: 900px;
  width: 10px;
}
.x01-i-want-to .span {
  color: rgba(235, 225, 225, 1);
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 24px;
  font-weight: 700;
}
.x01-i-want-to .span-1 {
  color: rgba(235, 225, 225, 1);
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 24px;
  font-weight: 500;
}
.x01-i-want-to .span-2 {
  color: rgba(255, 255, 255, 1);
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 16px;
}
.x01-i-want-to .span0 {
  color: rgba(255, 255, 255, 1);
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 26px;
  font-weight: 700;
}
.x01-i-want-to .span1 {
  color: rgba(255, 255, 255, 1);
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 26px;
}
.x01-i-want-to .text-1 {
  letter-spacing: 0px;
  line-height: 16px;
  margin-left: -423px;
  min-height: 51px;
  min-width: 104px;
  text-align: center;
  white-space: nowrap;
}
:root {
  --black: rgba(0, 0, 0, 0.9);
  --ebb: rgba(235, 225, 225, 1);
  --gallery: rgba(237, 237, 237, 0.85);
  --governor-bay: rgba(47, 45, 179, 1);
}
